.list {
    margin-left: 1.5rem;

    h2 {
        text-align: center;
    }

    >div {
        background-color: rgba(154, 175, 133, 0.247);
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #ccc;
        padding: 1rem;
        margin-bottom: 2rem;
    }
}